* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dis-primary: #3161e0;
    --dis-light: #ffffff;
    --dis-dark: #000000;
    --dis-main-bg: #f6f6f6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* debug styles region*/
.debug * {
    border: 1px dashed red;
}

.debug .container {}

/*.debug div div {
    background-color: rgb(92, 236, 255);
}*/

/*end  debug styles region*/



/* general styles region */

.container {
    display: flex;
    align-items: center;
}

.jc-sp-bet {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.width50 {
    max-width: 50%;
}

.width70 {
    max-width: 70%;
}

.f-row {
    flex-direction: row;
}

.f-row-rev {
    flex-direction: row-reverse;
}

.f-column {
    flex-direction: column;
}

.btn {
    padding: 8px 12px;
    border-radius: 20px;
}

.light_btn {
    color: var(--dis-dark);
    background-color: var(--dis-light);
    font-weight: bold;
    border: none;
}

.dark_btn {
    color: var(--dis-light);
    background-color: var(--dis-dark);
    font-weight: bold;
    border: none;
}

.main_bg {
    background-color: var(--dis-main-bg);
}

/* general styles region */




/* header region */
header {
    text-align: center;
    padding: 8px;
    background-color: var(--dis-primary);
}

.nav_bar span {
    color: var(--dis-light);
    margin: 20px;
    font-size: 1.1em;
}

/* end header region */


/* banner region */

.banner {
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    color: var(--dis-light);
    text-align: center;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    line-height: 25px;
    margin: 20px;
}

.banner span {
    margin: 8px;
}

.banner button {
    padding: 10px 20px;
}

/* end banner region */


/*main region*/

.card {
    align-items: center;
    gap: 2rem;
    padding: 30px;
}

.card_image {
    width: 80%;
    margin: 30px;

}

.card_body {
    margin: 30px;
}

.card_title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card_text {
    font-size: 1.1rem;
}