* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dis-primary: #3161e0;
    --dis-light: #ffffff;
    --dis-dark: #000000;
    --dis-main-bg: #f6f6f6;
    --dis-secondary: #8ea1e1;
    --dis-dark-bg: #23272a;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* debug styles region*/
.debug * {
    border: 1px dashed red;
}


/*.debug div div {
    background-color: rgb(92, 236, 255);
}*/



/*end  debug styles region*/



/* general styles region */

.container {
    max-width: 1680px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

.jc-sp-bet {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-f-start {
    justify-content: flex-start;
}

.width50 {
    width: 50%;
}

.width70 {
    width: 70%;
}

.f-row {
    flex-direction: row;
}

.f-row-rev {
    flex-direction: row-reverse;
}

.f-column {
    flex-direction: column;
}

.btn {
    padding: 10px 18px;
    border-radius: 20px;
}

.light_btn {
    color: var(--dis-dark);
    background-color: var(--dis-light);
    border: none;
}

.dark_btn {
    color: var(--dis-light);
    background-color: var(--dis-dark);
    border: none;
}

.bold {
    font-weight: bold;
}

.wave {
    background-image: url(./img/wave.svg);
    height: 70px;

}

.main_bg {
    background-color: var(--dis-main-bg);
}

.bg_rot {
    transform: rotate(180deg);
}

.secondary {
    color: var(--dis-secondary);
}

.light {
    color: var(--dis-light);
}



/* general styles region */




/* header region */
header {
    text-align: center;
    padding: 8px;
    background-color: var(--dis-primary);
}

.nav_bar span {
    color: var(--dis-light);
    margin: 20px;
    font-size: 1.1em;
}

.logo img {
    vertical-align: middle;
}


.padY60 {
    padding: 60px 0px;
}


/* end header region */


/* banner region */

.banner {
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    color: var(--dis-light);
    text-align: center;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    line-height: 25px;
    margin: 20px;
}

.banner span {
    margin: 8px;
}

.banner button {
    padding: 10px 20px;
}

/* end banner region */


/*main region*/

.card_image {
    width: 60%;
    padding: 10px;
}

.card_image img {
    max-width: 100%;
}

.card_body {
    padding: 40px;
    width: 40%;
}

.card_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card_text {
    font-size: 1.1rem;
}

.last_sect {
    text-align: center;
}

.last_sect * {
    margin-bottom: 10px;
}

.last_sect h1 {
    font-size: 3rem;
}

.last_sect p {
    font-size: 1rem;
}

.last_sect h3 {
    font-size: 1.5rem;
    background-image: url(./img/stars.svg);
    padding: 30px 30px 0px 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

#last_sect_btn {
    margin-top: 20px;
    background-color: var(--dis-secondary);
}

/*end main region*/


/*footer region*/
footer {
    background-color: var(--dis-dark-bg);
    min-height: 660px;
}

footer * {
    margin-bottom: 12px;
}

#footer_nav_bar {
    align-items: flex-start;
    padding: 60px 0px 15px 0px;
    border-bottom: 1px solid var(--dis-secondary);

}

.ft-1 {
    width: 30%;
    padding-right: 30px;
}

.ft-1 * {
    margin: 0;
}

.ft-1 h2 {
    margin-bottom: 20px;
}

.ft-2 {
    width: 15%;
}

#flag_ita {
    height: 20px;
}

#language span {
    margin-left: 5px;
}

.social-icon {
    padding-top: 20px;
}

.fa {
    padding: 4px;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    margin: 5px 5px 0px;
}

.fa-facebook {
    color: var(--dis-dark-bg);
    background-color: var(--dis-light);
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    height: 20px;
    width: 20px;
}